{{extend 'layout.html'}}
{{block header}}

<div class="row top30">
  <div class="col-md-4"></div>
  <div class="col-md-8" text-center>
       <img src="{{=URL('static','images/CompleteMedlogo.png')}}"/>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row top7"> </div>
<div class="row top7"> </div>
<div class="row top7">
     <div class="col-md-4" text-right></div>
     <div class="col-md-8" text-center>
          {{=form}}
     </div>
     <div class="col-md-4" text-right></div>
</div>
{{end}}
